[bumpversion]
current_version = 0.1.0
commit = False
tag = False
message = "Bump version: {current_version} to {new_version}"
parse = ^
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)   # minimum 'N.N.N'
	(?:
	(?P<prerelease>alpha|beta|rc)
	(?P<build>\d+)
	)?
	$
serialize = 
	{major}.{minor}.{patch}{prerelease}{build}
	{major}.{minor}.{patch}

[bumpversion:part:prerelease]
optional_value = final
values = 
	final
	alpha
	beta
	rc
	final

[bumpversion:part:build]
first_value = 1


[bumpversion:file:CHANGELOG.md]
search = NEXT_VERSION
replace = v{new_version} ({now:%Y-%m-%d})

[bumpversion:file:VERSION.env]
search = SLACKBOTR_VERSION="v{current_version}"
replace = SLACKBOTR_VERSION="v{new_version}"
